html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
  display:flex; flex-direction:column; justify-content:center;
  min-height:100vh;
}

canvas {
  display:block;
} 

 #canvas-container {
            display: flex;
            justify-content: center;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 8px 16px rgba(0,0,0,0.2);
        }
